@import './var.scss';

.adminContent {
  background-color: #fff;
  height: 100%;
  overflow-y: hidden;
  width: 920px;
  padding: 20px;
  color: #333;
  position: relative;
  flex: none!important;
  tr {
    line-height: 30px;
  }
  .ant-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
  }
  .ant-table-wrapper {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
  }
}